section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-container-80 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  background-color: aqua;
}
.flex-container-center-80 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  background-color: aqua;
}
.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.background {
  background-color: blue;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
